<article>
   <a href="/dashboard"> &larr; Back to dashboard</a>
   <h2>
      Edit Post
   </h2>
   <form class="edit-post-form">
      <div>
         <label for="post-title"><h3>Title</h3></label>
         <input name="post-title" type="text" value="{{post.title}}" />
      </div>
      <div>
         <label for="post-content"><h3>Content</h3></label>
         <textarea name="post-content">{{post.content}}</textarea>
      </div>
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
   </form>
</article>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>